@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

.skills-wrapper{
  @include media-breakpoint-up(lg) {
    width: 70%;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.skills-item{
  width: 70%;
  @include media-breakpoint-down(sm) {
    width: 90%;
  }
}

.skills-row{
  margin:0;
  top:50%;
}
