<div class="skills-wrapper">
  <mat-grid-list cols="{{numberOfColumns}}" rowHeight="{{rowHeight}}">
    <mat-grid-tile *ngFor="let cvItem of skillsCvItems">
      <div class="skills-item">
        <app-material-card [detailedDescription]="cvItem.description"
                           [buttonUrl]="cvItem.linkUrl"
                           [buttonText]="cvItem.linkText"
                           [imageURI]="cvItem.imageURI"></app-material-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
