.center-content {
  justify-content: center;
}

.site-title{
  font-size: 30px;
}

.header-link {
  color: #fefff6;
  text-decoration: none;
  margin: 0 20px 0 20px;
}

.header-link:hover
{
  color: #6e6d6a;
  text-decoration:none;
  cursor:pointer;
}

.mat-toolbar.mat-primary {
  background: #181818;
  color: #fff;
}
