@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

.homepage-wrapper {
  background-color: #181818;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.homepage__profile-picture {
  @include media-breakpoint-up(md) {
    height: 300px;
  }
  height: 200px;
}

.homepage__bio{
  color: white;
}

