@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

.homepage-wrapper {
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.homepage__profile-picture {
  @include media-breakpoint-up(md) {
    height: 300px;
  }
  height: 200px;
}

