<div class="homepage-wrapper d-flex align-items-center">

  <div class="row">
    <div class="col-lg-4 col-sm-12 d-flex align-items-center justify-content-center offset-lg-1">
      <img src="assets/img/ProfilePicture.png" alt="" class="homepage__profile-picture">

    </div>
    <div class="col-lg-6 col-sm-12 d-flex align-items-center homepage__bio">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Pellentesque in mollis massa. Curabitur dignissim vitae tortor id efficitur.
        Aliquam blandit congue auctor. Morbi tincidunt odio sit amet enim feugiat,
        in sagittis mauris pellentesque. Fusce aliquet enim ac massa rutrum,
        eu vestibulum velit venenatis.</h3>
    </div>
  </div>

</div>
