<div class="homepage-wrapper d-flex align-items-center">
        <img src="{{bioPic}}" alt="" class="homepage__profile-picture">

<!--  <div class="row col-12">-->
<!--    <div class="col-lg-4 col-sm-12 d-flex align-items-center justify-content-center offset-lg-1">-->
<!--      <img src="{{biography.pictureURI}}" alt="" class="homepage__profile-picture">-->
<!--    </div>-->
<!--    <div class="col-lg-6 col-sm-12 d-flex align-items-center homepage__bio">-->
<!--      <h3>{{biography.bio}}</h3>-->
<!--    </div>-->
<!--  </div>-->

</div>
