<app-header (toggleSidenavEmitter)="toggleSidebar()"></app-header>

<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav #sidenav fxLayout="column">
    <div fxLayout="column">
      <a (click)="sidenav.toggle()" mat-button>Close</a>
      <a routerLink="/experience" routerLinkActive="active-link" mat-button>Experience</a>
      <a routerLink="/education" routerLinkActive="active-link" mat-button>Education</a>
      <a routerLink="/skills" routerLinkActive="active-link" mat-button>Skills</a>
      <a routerLink="/projects" routerLinkActive="active-link" mat-button>Projects</a>
      <a routerLink="/hobbies" routerLinkActive="active-link" mat-button>Hobbies</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>


