@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

.hobbies-wrapper{
  @include media-breakpoint-up(lg){
    width: 70%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}
