<mat-card class="cv-item-card">
  <mat-card-header>
<!--    <div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>

  <div *ngIf="imageURI; then cardImage else defaultImage"></div>
  <ng-template #cardImage>
    <img mat-card-image src="{{imageURI}}" alt="image">
  </ng-template>
  <ng-template #defaultImage>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </ng-template>


<!--  <mat-card-content>-->
<!--    <p>-->
<!--&lt;!&ndash;      {{subtitle}}&ndash;&gt;-->
<!--    </p>-->
<!--  </mat-card-content>-->
  <mat-card-actions>
    <button mat-button>VISIT THEIR WEBSITE</button>
  </mat-card-actions>
</mat-card>
